header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  height: 6rem;
  background-color: #000c24dc;
  position: sticky;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid var(--intense-pink);
  box-shadow: 0px 15px 30px -15px var(--purplish-pink);
}

header img {
  width: 3rem;
}

.container-icon {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.container-icon h3 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--light-green);
}

.container-icon img[alt="cyberpunk-icon"] {
  border-bottom: 1px solid var(--ciano-color);
  width: 4rem;
  margin-left: 2.2rem;
}

header a {
  text-decoration: none;
}

.menu {
  display: flex;
}

img[alt="open button"],
img[alt="close button"] {
  display: none;
}

.container-nav-menus {
  display: flex;
}

.container-nav-menus ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}

.menu-content li {
  display: flex;
  align-items: center;
}

.menu-content li img {
  margin-right: 0.1rem;
}

.img-visible {
  visibility: visible;
  opacity: 1;
}

.img-visible,
.menu-content li p,
.social-menu img {
  transition: all 1s;
  cursor: pointer;
}

.img-hidden {
  visibility: hidden;
  opacity: 0;
}

.menu-content li p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

.menu-content li p:hover {
  color: var(--ciano-color);
  text-shadow:
    4px 4px 10px var(--ciano-color),
    4px 4px 21px var(--ciano-color),
    4px 4px 150px var(--ciano-color);
}

.menu-content li p.p-active {
  color: var(--ciano-color);
}

.social-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 15.3rem;
  height: 5rem;
  margin: 0 2.2rem;
  background-image: url("../../assets/otherImages/background-social.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social-menu img:hover {
  transform: scale(1.15);
}




@media (max-width:932px) {
  header {
    min-height: 6rem;
  }

  .menu {
    width: 100%;
    justify-content: flex-end;
  }

  .container-icon h3 {
    display: none;
  }

  .menu-open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #000c24 50%, #000c2473 100%);
  }

  img[alt="open button"],
  img[alt="close button"] {
    display: block;
    width: 3.7rem;
    height: 3.7rem;
    margin-right: 2.2rem;
  }

  img[alt="close button"] {
    margin-top: 1rem;
  }

  .menu .container-nav-menus {
    display: none;
  }

  .menu-open .container-nav-menus {
    display: flex;
  }

  .container-nav-menus {
    width: 100%;
    align-self: flex-start;
    flex-direction: column;
    padding-bottom: 1.5rem;
    background: linear-gradient(to bottom, #000c24 90%, #000c2473 100%);
  }

  .menu-content {
    flex-direction: column;
    margin: 0 0 3.8rem 2.7rem;
  }

  .menu ul {
    display: flex;
    list-style: none;
    gap: 1.2rem;
  }
}




@media (min-width:933px) and (max-width: 1280px) {
  header {
    flex-direction: column-reverse;
    align-items: center;
    height: min-content;
    padding: 1rem 0;
  }

  .container-icon {
    display: none;
  }

  .social-menu {
    margin: 0 0 0 2.2rem;
  }
}

@media (min-width: 1900px) and (max-width:2200px) {
  header img[alt="cyberpunk-icon"] {
    margin-left: 0rem;
  }

  .social-menu {
    margin: 0 0 0 2.2rem;
  }
}