header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  height: 6rem;
  background-color: #000c24c4;
  backdrop-filter: blur(0.4rem);
  position: sticky;
  z-index: 3;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid var(--ciano-color);
  box-shadow: 0px 15px 30px -15px var(--ciano-color);
}

header img {
  width: 3rem;
}

.container-icon {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.container-icon h3 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--light-green);
}

.container-icon img[alt="cyberpunk-icon"] {
  border-bottom: 1px solid var(--ciano-color);
  width: 4rem;
  margin-left: 2.2rem;
}

header a {
  text-decoration: none;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}

.menu-content li {
  display: flex;
  align-items: center;
}

.menu-content li img {
  margin-right: 0.1rem;
}

.img-visible {
  visibility: visible;
  opacity: 1;
}

.img-visible,
.menu-content li p,
.social-menu img {
  transition: all 0.3s;
  cursor: pointer;
}

.img-hidden {
  visibility: hidden;
  opacity: 0;
}

.menu-content li a.active p {
  color: #02f9f9;
}

.menu-content li p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

.menu-content li p:hover {
  color: var(--ciano-color);
  text-shadow:
    4px 4px 10px var(--ciano-color),
    4px 4px 21px var(--ciano-color),
    4px 4px 150px var(--ciano-color);
}

.social-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 15.3rem;
  height: 5rem;
  margin: 0 2.2rem;
  background-image: url("../../assets/otherImages/background-social.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social-menu img:hover {
  transform: scale(1.15);
}


@media (min-width: 1900px) and (max-width:2200px) {
  header img[alt="cyberpunk-icon"] {
    margin-left: 0rem;
  }

  .social-menu {
    margin: 0;
  }
}