.container-gif-projects {
  height: 55rem;
  background-image: url("../../assets/gifs/mecha-project-pixel.gif");
}

.background-gradient-up-projects {
  height: 5rem;
}

.background-gradient-down-projects {
  height: 8rem;
}

.projects-page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

img[alt="arrow-right"],
img[alt="arrow-left"] {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: all 0.3s;
}

img[alt="arrow-right"]:hover,
img[alt="arrow-left"]:hover {
  transform: scale(1.1);
}

.arrow-hidden {
  opacity: 0.4;
}

img[alt="arrow-left"].arrow-hidden:hover,
img[alt="arrow-right"]:hover.arrow-hidden:hover {
  transform: scale(1);
  cursor: default;
}

.arrow-visible {
  opacity: 1;
}

.project-carousel {
  width: 75%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.project-carousel::-webkit-scrollbar {
  display: none;
}

.project-box {
  display: flex;
  justify-content: center;
  position: relative;
  height: 358px;
}

.container-photo-description-link {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1rem;
  left: 1.9rem;
  right: 0.5rem;
}

img[alt="project-photo"] {
  align-self: center;
  width: 18rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.container-photo-description-link p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
}

.container-photo-description-link p:nth-last-child(2) {
  margin-bottom: 0.7rem;
}

.container-photo-description-link p span {
  color: var(--ciano-color);
}

.container-project-button {
  position: absolute;
  bottom: 1rem;
}

img[alt="robot-cute-proto-3"] {
  position: absolute;
  bottom: -5rem;
  left: -4rem;
}