.container-gif-skills {
  background-image: url("../../assets/gifs/gamer-room-pixel.gif");
}

.background-gradient-up-skills {
  height: 10rem;
}

.background-gradient-down-skills {
  height: 16rem;
}

.skills-page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
  position: relative;
}

.skill-box {
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.skill-box:hover {
  transform: scale(1.09);
}

.skill-box:active {
  transform: scale(1.05);
}

.symbol-and-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  position: absolute;
  top: 1.1rem;
  left: 1.8rem;
}

img[alt="skill-symbol"] {
  width: 4.6rem;
}

.symbol-and-name p {
  margin-top: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  text-shadow:
    0 0 100px #fff,
    0 0 20px #fff;
}

img[alt="robot-cute-proto-2"] {
  width: 11.5rem;
  top: -10rem;
  right: 3rem;
}

@media (max-width:431px) {
  .container-gif-skills {
    background-size: cover;
  }
}

@media (max-width:932px) {
  .background-gradient-up-skills {
    height: 15rem;
  }

  .background-gradient-down-skills {
    height: 20rem;
  }

  .skill-box:nth-of-type(2) {
    margin-top: 2rem;
  }

  .skill-box:nth-of-type(3),
  .skill-box:nth-of-type(5),
  .skill-box:nth-of-type(7),
  .skill-box:nth-of-type(9),
  .skill-box:nth-of-type(11) {
    margin-top: -2rem;
  }

  .skill-box:hover {
    transform: scale(1);
  }

  .skill-box:active {
    transform: scale(1);
  }
}