.contains-cv-button:hover button,
.container-project-button:hover button {
  background-image: url("../../assets/otherImages/button-template-pressed.svg");
  color: #e73f3d;
}

.contains-cv-button:active button,
.contains-cv-button:active img[alt="button-template-blur"],
.container-project-button:active button {
  transform: scale(0.9);
}