.container-loading {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 5;
}

.figure-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

img[alt="pc-loading"] {
  width: 26rem;
}

.container-loading-bar {
  display: flex;
  align-items: center;
  width: 245px;
  height: 33px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color: unset;
  position: absolute;
  bottom: 0rem;
}

.container-loading-bar p {
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  left: 42%;
}

.progress-bar {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  background-color: #e73f3d;
  transition: all 0.5s;
}