.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 53rem;
}

@media (max-width: 1300px) {
  .container-left {
    width: 100vw;
    margin-bottom: 5rem;
  }
}