html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  background-color: #000c24;
  overflow-y: hidden;
  color: #ffffff;
}

.main-generic {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 1900px) and (max-width:2500px) {
  .main-generic {
    padding: 0 30rem;
  }
}