@import url("styles/bottonHoverActive/style.css");

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  overflow-y: hidden;
  color: #ffffff;
}

.main-generic {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

img[alt="cyberpunk-ship"],
img[alt="robot-cute-proto-2"],
img[alt="robot-cute-proto-1"] {
  position: absolute;
}

img[alt="cyberpunk-ship"],
img[alt="robot-cute-proto-1"] {
  width: 15rem;
}

.container-gif-generic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 100%;
}

.up-gradient {
  background: linear-gradient(to bottom, #000c24 20%, #17141400 44%);
}

.down-gradient {
  background: linear-gradient(to top, #000c24 20%, #17141400 100%);
}

.into-container-right-generic {
  width: 73rem;
  margin: 0 1rem 8rem 0;
}

@media (max-width: 1288px) {
  .container-gif-generic {
    background-position: center;
    background-size: contain;
  }
}

/* .background-gradient-up-education,
.background-gradient-down-education,
.background-gradient-up-skills,
.background-gradient-down-skill {
  width: 100%;
} */

/* @media (min-width: 1900px) and (max-width:2500px) {
  .main-generic {
    padding: 0 25rem;
  }
} */