html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  overflow-y: hidden;
  color: #ffffff;
}

.main-generic {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

img[alt="cyberpunk-ship"],
img[alt="robot-cute-proto-2"],
img[alt="robot-cute-proto-1"] {
  position: absolute;
}

img[alt="cyberpunk-ship"],
img[alt="robot-cute-proto-1"] {
  width: 15rem;
}

/* @media (min-width: 1900px) and (max-width:2500px) {
  .main-generic {
    padding: 0 25rem;
  }
} */