.container-right {
  min-width: calc(100vw - 65rem);
}

.box-right {
  display: flex;
  justify-content: center;
  position: relative;
}

.page-content-container {
  position: relative;
}

img[alt="tech-line-up"],
img[alt="tech-line-down"] {
  position: absolute;
  width: 40rem;
}

img[alt="tech-line-up"] {
  top: 0;
  right: 0;
}

img[alt="tech-line-down"] {
  bottom: 0;
  left: 0;
}

.page-content-container h3 {
  margin: 5.7rem 0 2.6rem 0;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.2;
  text-shadow:
    4px 4px 10px var(--light-green),
    4px 4px 21px var(--light-green),
    4px 4px 150px var(--light-green);
  color: var(--light-green);
}

@media (min-width: 1900px) and (max-width:2600px) {
  .container-right {
    min-width: 75rem;
  }
}

@media (max-width: 1300px) {
  .container-right {
    width: 100vw;
    margin-bottom: 5rem;
  }
}