.body-portfolio {
  background-color: #000;
  position: relative;
}

.main-portfolio {
  height: calc(100vh - 6rem);
  padding-top: 6rem;
  scroll-behavior: smooth;
  overflow-y: auto;
  background-color: #000c24;
}

@media (min-width: 1900px) and (max-width:2500px) {
  .body-portfolio {
    padding: 0 25rem;
  }
}