.body-portfolio {
  background-color: var(--background-color);
}

.main-portfolio {
  height: calc(100vh - 4.5rem);
  padding-top: 4.5rem;
  scroll-behavior: smooth;
  overflow-y: auto;
}

/* @media (max-width: 1280px) {
  .main-portfolio {
    height: calc(100vh - 7rem);
  }
} */

@media (min-width: 1900px) and (max-width:2200px) {
  .main-portfolio {
    height: calc(100vh - 4.5rem);
    padding-top: 20rem;
    scroll-behavior: smooth;
    overflow-y: auto;
  }
}