.body-portfolio {
  background-color: var(--background-color);
  position: relative;
}

.main-portfolio {
  height: calc(100vh - 4.5rem);
  padding-top: 4.5rem;
  scroll-behavior: smooth;
  overflow-y: auto;
}