.container-gif-education {
  height: 57rem;
  background-image: url("../../assets/gifs/big-screen-pixel.gif");
}

.background-gradient-up-education {
  height: 5rem;
}

.background-gradient-down-education {
  height: 7rem;
}

.education-box {
  position: relative;
  margin-bottom: 3rem;
}

.education-text {
  top: 1.32rem;
  left: 6.58rem;
  right: 5.87rem;
  z-index: 1;
}

.education-text,
img[alt="cyberpunk-ship"] {
  position: absolute;
}

.education-text p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.9rem;
}

.education-text p span {
  color: #5ef6ff;
}

img[alt="cyberpunk-ship"] {
  bottom: -6rem;
  right: 1rem;
}